.my-danger {
/* background-color: red !important; */
background-color: white;
}

.my-danger>.mosha__toast__progress {
background-color: pink ; //idk which colour or just disable it
}

/*.my-danger .mosha__toast__content__text{
color: white ;
}*/

